data/creditcard.csv
data/part_1.csv
data/test_1.csv
data/test_2.csv
data/test_3.csv
data/test_4.csv
data/test_5.csv
# Node
node_modules/
frontend/node_modules/
dist
# Python
__pycache__
*.pyc
.venv

# Environment
.env

# OS
.DS_Store

wandb/